body {
    margin: 2rem;
    background-color: #1D546C;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #246987;
    padding: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 50%;
    border-radius: 20px;
}

.search-bar-ico {
    height: 1.5rem;
    filter:invert(100%)
}

.search-bar input {
    width: 80%;
    border-radius:16px;
    border: none;
    background-color: #F4F4F4;
    padding: 0.4rem;
}

.info {
    margin-top: 3rem;
    border-radius: 1rem;
    background-color: #246987;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sun {
    background-color: goldenrod;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    transform: translate(-7rem, -7rem);
    box-shadow: 0 0 20rem goldenrod;

    animation: sun-animation 1s ease-in-out infinite reverse;
}

@keyframes sun-animation {
    0% {
        box-shadow: 0 0 10rem goldenrod;
    }
    100% {
        box-shadow: 0 0 20rem goldenrod
    }
}